.container{
  z-index: 1;
}
/* HERO STYLE */
.hero{
  background: #034d59;
  border-radius: 15px 15px 0 0;
  width: 100vw;
  position: absolute;
  top: 0;
}

.hero-img{
  opacity: .1;  /* Background image */
  width: 100%;
}

.content-hero{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: -5vh;
}

.header-text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-text{
  font-size: 20px;
}

.loveIn {
  font-size: 16px;
}

/* SOCIAL STYLE */
.social {
  justify-content: space-evenly;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  bottom: -45vw;
}

.social img{
  text-align: center;
  transform: scale(.75);
}
/* Animate on click */
.social>a:active>img{
  transition: transform .1s;
  transform: scale(.6);
}
/* Show number of notifications */
.notification{
  color: #fff;
  font-weight: bolder 14px New Cicle Fina;
  text-align: center;
  background: #F56F6C;
  padding: 5px 9px;
  z-index: 1;
  padding-right: 10px;
  border-radius: 5px;
  position: relative;
  top: -35px;
  left: 50px;
}

/* POST CONTAINER STYLE / <ul>*/
.post-container{
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: New Cicle Fina;
  top: 95vw;
  right: 0;
  padding: 0;
  margin: 0;
}

/* Base 'li' style */
li{
  list-style: none;
  color: #fff;
  width: 100%;
  height: 100px;
  position: relative;
}


li:first-child .post-content{
  border-radius: 15px 15px 0 0;
  transition: left .3s, border-right .2s, border-radius .3s; /*Hover Animation*/
  transition-delay: .9s;
}
li:first-child .post-content:hover{
  transition: .3s;
  border-radius: 15px 0 0 0;
}

/* LIST CONTENT STYLE */
.post-content, .noPosts{
  /* Base */
  width: 100%;
  height: 100px;
  border-bottom: solid 2px #FB8985;
  background: #F56F6B;
  padding: 15px 5px;
  display: flex;
  justify-content: space-around;
  z-index: 20;
  /* After hover */
  position: relative;
  left: 0;
  transition: left .3s, border-right .2s;
  transition-delay: .9s;
  border-right: solid 0 #57ADBD;
}
.post-content:hover{
  transition: .3s;
  left: -55%;
  border-right: solid 10px #57ADBD;
}
/* if no posts */
.noPosts{
  text-align: center;
  font: 24px;
  border-radius: 15px 15px 0 0;
}

.info-img{
  width: 20%;
}
.info-img>img{
  transform: scale(.75);
}

.post-text{
  width: 80%;
}
.top-part{
  font-weight: bolder;
  text-align: left;
}
small{
  margin-right: 20px;
}

/* POST OPTIONS STYLE */
.post-options{
  width: 55%;
  height: 100px;
  z-index: 6;
  position: absolute;
  top: 0;
  background: #034d59;
  right: 0;
}
/* Options background */
.post-options::before{
  content: '';
  display: flex;
  width: 100%;
  height: 100px;
  background: url("/assets/images/postBackground.jpg");
  position: absolute;
  z-index: -1;
  opacity: .1;
}
/* Options button */
button{
  width: 33%;
  height: 100px;
  top: -100px;
  z-index: 40;
  opacity: .7;
}
button>img{
  transform: scale(.6);
}
button:active>img{
  transition: transform .1s;
  transform: scale(.5);
}


