.container{
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, rgba(41,137,153,1) 0%, rgba(3,77,89,1) 100%);
  border-radius: 15px 15px 0 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popups{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  right: 0;
}

.popups ul {
  padding: 0;
  margin: 0;
}

.popups li .post-content{
  width: 100%;
  height: 100px;
  color: #fff;
  border-bottom: solid 2px #FB8985;
  background: #F56F6B;
  list-style: none;
  padding: 15px 5px;
  display: flex;
  justify-content: space-around;
}

li:first-child .post-content{
  border-radius: 15px 15px 0 0;
  transition: left .3s, border-right .2s, border-radius .3s; /*Hover Animation*/
  transition-delay: .9s;
}

li:last-child .post-content{
  border-radius: 0 0 15px 15px;
  transition: left .3s, border-right .2s, border-radius .3s; /*Hover Animation*/
  transition-delay: .9s;
}

.post-text{
  font-family: New Cicle Fina;
  width: 80%;
}

.post-text .top{
  justify-content: space-between;
  display: flex;
  font-weight: bolder;
  /* text-align: left; */
}

.post-text>.top>small{
  margin-right: 20px;
}
