.container{
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, rgba(41,137,153,1) 0%, rgba(3,77,89,1) 100%);
  border-radius: 15px 15px 0 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* POST CONTAINER STYLE / <ul>*/
.post-container{
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: New Cicle Fina;
  top: 100px;
  right: 0;
  padding: 0;
  margin: 0;
}

/* Base 'li' style */
li{
  list-style: none;
  color: #fff;
  width: 100%;
  height: 100px;
  position: relative;
}

li:first-child .post-content{
  border-radius: 15px 15px 0 0;
}
li:last-child .post-content{
  border-radius: 0 0 15px 15px;
}

.post-content{
  width: 100%;
  height: 100px;
  color: #fff;
  border-bottom: solid 2px #FB8985;
  background: #F56F6B;
  list-style: none;
  padding: 15px 5px;
  display: flex;
  justify-content: space-around;
}

.post-text{
  width: 80%;
}
.top-part{
  justify-content: space-between;
  display: flex;
  font-weight: bolder;
}
