*, *::before, *::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #000;
  width: 100vw;
  height: auto;
}

button{
  background: none;
  border: none;
}

.header-text, p.logo{
  font-family: blackjar;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

p.profile-text{
  font-family: New Cicle Fina;
  text-align: center;
}


.text-color{
  color: #F56F6C;
}

.loveIn {
  display: block;
}

.pressed:active>img{
  transition: transform .1s;
  transform: scale(70%);
}
