*, *::before, *::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #000;
  width: 100%;
  height: auto;
}

button{
  background: none;
  border: none;
}


p.profile-text{
  font-family: New Cicle Fina;
  text-align: center;
}

.text-color{
  color: #F56F6C;
}

.loveIn {
  display: block;
}

.pressed:active>img{
  transition: transform .1s;
  transform: scale(70%);
}

/* NAV BAR */
nav{
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 15px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  z-index: 50;
  overflow: hidden;
}

nav>a:active>img{
  transition: transform .1s;
  transform: scale(.6);
}

nav>p.logo{
  padding: 0;
  display: flex;
  position: relative;
  top: -10px;
}

.header-text, p.logo{
  font-family: blackjar;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.logo{
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

p.logo::before{
  content: url("/assets/images/nav/logoShape.png");
  transform: scale(.6);
  margin-right: 2px;
  position: relative;
  top: 5px;
}
